# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Build files
/client/build
/server/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Docker volumes
/data 